# Ignore TextMate project files
*.tmproj

# Ignore Mac OS metadata files
.DS_Store

# Ignore Mac OS X extended file attribute files
._*
._*/

# Ignore Vim .swp files and temp backups
*.swp
*~

# Emacs tags files
TAGS
*.tags

# Vagrant state management
.vagrant

# Hide Statamic files in public repo.
_app/***
admin/***

# Hide Logs and Cache
_cache/*
!_cache/index.html
_logs/*
!_logs/index.html
_themes/utah/Open_Sans
