<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CMIS-Utah</title>

    {{ theme:css tag="true" }}

    <!--for placeholders until assets are in -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="/{{ theme_path }}js/modernizr.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="column small-12">

          <nav class="row navbar">

            <h2 class="column small-12 medium-6 brand"><a href="/cmis_utah/">CMIS Utah</a></h2>

            <div class="column small-4 medium-2 navbar__nav navblock">
              <a href="/">
                <div><i class="fa fa-home"></i> Home</div>
                <div class="navblock__sub"><small>CMIS Home Page</small></div>
              </a>
            </div>

            <div class="column small-4 medium-2 navbar__nav navblock">
              <a href="/cmis_utah/more_info/">
                <div>More Info</div>
                <div class="navblock__sub"><small>Learn more about minimally invasive surgery</small></div>
              </a>
            </div>

            <div class="column small-4 medium-2 navbar__nav navblock">
              <a href="/cmis_utah/contact/">
                <div>Contact</div>
                <div class="navblock__sub"><small>Contact us about your surgery</small></div>
              </a>
            </div>

          </nav>
        </div>
      </div>  

          <div class="row">
          	<div class="large-12 columns">
          		{{ entries:listing folder="blog" limit="10" }}
      			 <div class="block entry">
      			    <header>
      			      <h2 class="entry-title"><a href="{{ url }}">{{ title }}</a></h2>
      			      <p class="entry-date"> {{ datestamp format="F jS, Y" }}</p>
      			    </header>

      			    {{ content }}

      			    {{ if categories }}
      			    <p class="entry-meta"> Filed under {{ categories_url_list }}.</p>
      			    {{ endif }}

      			  </div>
              {{ /entries:listing }}

              {{ entries:pagination folder="blog" limit="10"}}
        			<div class="pagination">
        			  {{ if previous_page }}
        			    <a href="{{ previous_page }}">Previous Page</a>
        			  {{ endif }}
        			  {{ if next_page }}
        			    <a href="{{ next_page }}">Next Page</a>
        			  {{ endif }}
        			</div>
              {{ /entries:pagination }}
          	</div>
          </div>

    <footer class="site-footer">
      <div class="row">
        
        <div id="address" class="column small-12 medium-4 small-only-text-center">
          <ul class="vcard">
            <li class="fn">Center for Minimally Invasive Surgery in Utah</li>
            <li class="street-address">123 Colonial Ave.</li>
            <li class="locality">Caprica City</li>
            <li><span class="state">Utah</span>, <span class="zip">12345</span></li>
          </ul>
        </div>

        <div id="contact" class="column small-12 medium-4 text-center">
          <h4>Contact Us</h4>
          <ul class="no-bullet">
            <li>Email: info@example.com</li>
            <li>Phone: 888.888.8888</li>
          </ul>
        </div>

        <div id="site-map" class="column small-12 medium-4 text-right small-only-text-center">
          <h4>Site Map</h4>
          <ul class="no-bullet">
            <li><a href="#">Link to page A</a></li>
            <li><a href="#">Link to Another Page</a></li>
            <li><a href="#">Very interesting article</a></li>
            <li><a href="#">Link to a video</a></li>
          </ul>
        </div>

      </div>

      <div class="row">
        <div class="column small-12">
          <p class="text-center"><small>&copy; Pinfinity Consulting LLC</small></p>
        </div>
      </div>
    </footer>
  </div>

          

    <script src="/{{ theme_path }}js/jquery.min.js"></script>
    <script src="/{{ theme_path }}js/foundation.min.js"></script>
    <script src="{{ theme:js }}"></script>
  </body>
</html>
