{{ theme:partial src="tagline" }}


{{ nav max_depth="2" from="/more-info" folders_only="true"}}

	<h2 class="cat-link"><a href="{{ url }}">{{ title }}</a></h2>
	<div class="row listing">
		{{ entries:listing folder="{ url }" limit="4"}}
			{{ if  count|%:2 }}
				<div class="row" data-equalizer data-modulo-2 >
			{{ endif }}
			<div class="stub column small-12 medium-6" >
				<a href="{{ url }}">
					<div class="row">
						<div class="column small-4">
							<div class="art-thumb"
							style= 
							{{ if article_thumbnail }}
								"background:url({{ article_thumbnail }});"
							{{ elseif categories_sentence_list ~ "/(video)/"}}
							  "background:url( {{ theme:img src='play-blue.png' }});"
							{{ else }}
								"background:url({{ theme:img src='touch_icon.png' }});"
							{{ endif }}
							></div> <!-- / art-thumb -->
							<!-- <img class="center" src="{{ article_thumbnail }}" alt=""> -->
						</div> <!-- /column small-4 --> 

					<div class="column small-8 stub-excerpt" data-equalizer-watch>
						<h4>{{ title|truncate:50}}</h4>
						<i>{{ content|striptags|truncate:100 }}</i>
						</div>
					</div> <!-- /row -->

					<div class="row">
						<div class="band" href="{{ url }}">
							<div class="column small-4">
								&nbsp;
							</div>

							<div class="column small-8">				
								<span>Read More&nbsp;<span class="readmore"></span></span>
							</div>
						</div>
					</div>	
				</a>	
			</div>
			{{ if last }}
				{{ if total_results|%:2 }}
				<div class="column small-12 medium-6"> </div>
			</div> 
			<!-- ending data-equalizer (odd results) -->
				{{ endif }}		
			{{ endif}}

			{{ if !(count|%:2) }}
				</div> 
				<!-- ending data equilizer (even results) -->
			{{ endif }}	
		{{ /entries:listing}}
	</div>

{{ /nav }}

{{ theme:partial src="cta2" }}

