{{ theme:partial src="tagline" }}

<h2><a href="/more-info/less-pain">Less Pain</a></h2>
<div class="row listing">
	{{ entries:listing folder="{current_url}/less-pain" limit="4"}}
		{{ if  count|%:2 }}
			<div class="row" data-equalizer>
		{{ endif }}
	<div class="stub column small-12 medium-6" >
		<div class="row">
			<div class="column small-4">
				<div class="art-thumb"
				style= 
				{{ if article_thumbnail }}
					"background:url({{ article_thumbnail }});"
				{{ else }}
					"background:url({{ theme:img src='touch_icon.png' }});"
				{{ endif }}
				></div>
				<!-- <img class="center" src="{{ article_thumbnail }}" alt=""> -->
			</div>

			<div class="column small-8" data-equalizer-watch>
				<h5>{{title}}</h5>
				{{ content|striptags|truncate:75 }}
			</div>
		</div>
		<div class="row">
			<a href="{{ url }}">
			<div class="column small-4">
				&nbsp;
			</div>

			<div class="column small-8">				
				<span>Read More&nbsp;<span class="readmore"></span></span>
			</div>
			</a>
		</div>		
	</div>
		{{ if last }}
			{{ if total_results|%:2  }}
			<div class="column small-12 medium-6"> </div>
			{{ endif }}
		{{ endif}}

		{{ if  !(count|%:2) }}
			</div>
		{{ endif }}		
	{{ /entries:listing}}
</div>


<h2><a href="/more-info/less-scarring">Less Scarring</a></h2>
<div class="row listing">
	{{ entries:listing folder="{current_url}/less-scarring" limit="4"}}
		{{ if  count|%:2 }}
			<div class="row" data-equalizer>
		{{ endif }}
	<div class="stub column small-12 medium-6">
		<div class="row">
			<div class="column small-4">
				<div class="art-thumb"
				style= 
				{{ if article_thumbnail }}
					"background:url({{ article_thumbnail }});"
				{{ else }}
					"background:url({{ theme:img src='touch_icon.png' }});"
				{{ endif }}
				></div>
				<!-- <img class="center" src="{{ article_thumbnail }}" alt=""> -->
			</div>

			<div class="column small-8" data-equalizer-watch>
				<h5>{{title}}</h5>
				{{ content|striptags|truncate:75 }}
			</div>
		</div>
		<div class="row">
			<a href="{{ url }}">
			<div class="column small-4">
				&nbsp;
			</div>

			<div class="column small-8">				
				<span>Read More&nbsp;<span class="readmore"></span></span>
			</div>
			</a>
		</div>		
	</div>
		{{ if last }}
			{{ if total_results|%:2 }}
			<div class="column small-12 medium-6"> </div>
			{{ endif }}
		{{ endif}}

		{{ if  !(count|%:2) }}
			</div>
		{{ endif }}	
	{{ /entries:listing}}
</div>


<h2><a href="/more-info/quicker-recovery">Quicker Recovery</a></h2>	
<div class="row listing">
	{{ entries:listing folder="{current_url}/quicker-recovery" limit="4"}}
		{{ if  count|%:2 }}
			<div class="row" data-equalizer>
		{{ endif }}
	<div class="stub column small-12 medium-6">
		<div class="row">
			<div class="column small-4">
				<div class="art-thumb"
				style= 
				{{ if article_thumbnail }}
					"background:url({{ article_thumbnail }});"
				{{ else }}
					"background:url({{ theme:img src='touch_icon.png' }});"
				{{ endif }}
				></div>
				<!-- <img class="center" src="{{ article_thumbnail }}" alt=""> -->
			</div>

			<div class="column small-8" data-equalizer-watch>
				<h5>{{title}}</h5>
				{{ content|striptags|truncate:75 }}
			</div>
		</div>
		<div class="row">
			<a href="{{ url }}">
			<div class="column small-4">
				&nbsp;
			</div>

			<div class="column small-8">				
				<span>Read More&nbsp;<span class="readmore"></span></span>
			</div>
			</a>
		</div>		
	</div>
		{{ if last }}
			{{ if total_results|%:2 }}
			<div class="column small-12 medium-6"> </div>
			{{ endif }}
		{{ endif}}

		{{ if  !(count|%:2) }}
			</div>
		{{ endif }}	
	{{ /entries:listing}}
</div>
