

  {{ raven:form formset="example" attr="class:contact" }}

    <label for="name">Your humble name</label>
    <input type="text" name="name" value="" /><br>

    <label for="email">Your electronic mail address</label>
    <input type="email" name="email" value="" /><br>

    <label for="website">Your website</label>
    <input type="text" name="website" value="" /><br>

    <label for="years">Years you too have been stranded</label>
    <input type="text" name="years" value="" /><br>

    <input type="submit" value="Submit" />

  {{ /raven:form }}