{{ theme:partial src="tagline" }}

{{ theme:partial src="nav_dropdown"}}

<div class="row listing">

	{{ entries:listing folder="{ current_url}" limit="3"}}
		{{ if  count|%:2 }}
			<div class="row" data-equalizer>
		{{ endif }}
	<div class="stub column small-12 medium-6">
		<div class="row">
			<div class="column small-4">
				<div class="art-thumb"
				style= 
				{{ if article_thumbnail }}
					"background:url({{ article_thumbnail }});"
				{{ else }}
					"background:url({{ theme:img src='touch_icon.png' }});"
				{{ endif }}
				></div>
				<!-- <img class="center" src="{{ article_thumbnail }}" alt=""> -->
			</div>

			<div class="column small-8" data-equalizer-watch>
				<h5>{{title}}</h5>
				{{ content|striptags|truncate:50 }}
			</div>
		</div>
		<div class="row">
			<a href="{{ url }}">
			<div class="column small-4">
				&nbsp;
			</div>

			<div class="column small-8">				
				<span>Read More &#9654;</span>
			</div>
			</a>
		</div>		
	</div>

	{{ if last }}
		{{ if total_results|%:2 }}
		<div class="column small-12 medium-6"> </div>
		{{ endif }}
	{{ endif}}

	{{ if  !(count|%:2)  || (last && total_results|%:2) }}
		</div>
	{{ endif }}

	{{ /entries:listing}}
	
</div>



