<!-- providers -->
<div class="row prov-div">
	<div class="column  ">
		<h2 class="prov-meet">Meet our team</h2>
			<div class="row listing">

	{{ entries:listing folder="providers"}}

		{{ if count|-:1|%:3 == 0 }}
				<div class="row" data-equalizer>
		{{ endif }}

			<div class="stub prov-stub column small-12 medium-4 
			{{ if last }}
			 	 end
		 	{{ endif }}
		 	{{ if count == total_results|/:3|floor|*:3|+:1 }}
		 		 {{ if total_results|%:3 == 1 }}
		 		 	 medium-offset-4
		 		 {{ elseif total_results|%:3 == 2 }}
		 		     medium-offset-2
		 		 {{ endif }}
			{{ endif }}">
				<a href="{{ url }}">
					<div class=" avatar">
						<div class="prov-thumb"
						style= 
						{{ if article_thumbnail }}
							"background:url({{ article_thumbnail }});"
						{{ else }}
							"background:url({{ theme:img src='touch_icon.png' }});"
						{{ endif }}
						></div>
							
					</div>

					<h5>{{title}}</h5>
				</a>		
			</div>

	{{ if count|%:3 == 0 || last}}
			</div><!-- last -->
	{{ endif }}
	
	{{ /entries:listing}}		
	
		</div>
	</div>
</div>