<!-- Reasons -->
<div class="row reason-row"  data-equalizer>
	<div class="column large-4" id="reason-pain" data-equalizer-watch>
		<!-- <img src="{{ theme:img src='less_pain_icon.png' }}" alt="Less Pain Icon"> -->
		<div class="reason-icon"></div>	
		<h2>Less pain</h2>
		<p class="text-justify"><b>We are able to significantly decrease the pain you experience from surgery.</b>  Traditionally, abdominal surgery required a very large incision on the abdomen. Now, we can perform the same surgeries through incisions smaller than the size of your fingertip.  Smaller incisions mean less pain!</p>
		<a href="/more-info/less-pain">learn more</a>
	</div>

	<!--Traditionally, abdominal surgery required a very large incision on the abdomen. Now, we can perform the same surgeries through incisions smaller than the size of your fingertip. By using such small incisions, we are able to significantly decrease the pain you experience from surgery. This can be done with laparoscopic surgery or robotic surgery (hyperlink). Smaller incisions mean less pain, but also less scarring (hyperlink) and a faster recovery (hyperlink) -->

	<div class="column large-4" id="reason-scarring" data-equalizer-watch>
		<!-- <img src="{{ theme:img src='less_scarring_icon.png' }}" alt="Less Scarring Image"> -->
		<div class="reason-icon"></div>											
		<h2>Less scarring</h2>
		<p class="text-justify"><b>No one will even know you had surgery!</b>  Performing your surgery with the robot or with laparoscopic instruments, we are able to use very small incisions. These incisions heal quickly, and very small scars.</p>
		<a href="/more-info/less-scarring">learn more</a>
	</div>

	<!--Performing your surgery with the robot (hyperlink) or with laparoscopic instruments, we are able to use very small incisions. These incisions heal quickly, leaving you with less pain (hyperlink), a faster recovery (hyperlink) and very small scars. No one will even know you had surgery!-->

	<div class="column large-4" id="reason-recovery" data-equalizer-watch>
		<!-- <img src="{{ theme:img src='quick_recovery_icon.png' }}" alt="Quick Recovery Icon"> -->
		<div class="reason-icon"></div>
		<h2>Quicker recovery</h2>
		<p class="text-justify"><b>Go back to work, back to your family, and back to your regular life faster</b> by having your surgery by our robotic team!  The small incisions used in Robotic Surgery cause less pain and allow for a faster recovery.</p>
		<a href="/more-info/quicker-recovery">learn more</a>
	</div>
	<!--Robotic surgery (hyperlink) allows for us to perform your surgery through very small incisions. Such small incisions cause less pain (hyperlink) and therefore a faster recovery. Go back to work, back to your family, and back to your regular life faster by having your surgery by our robotic team! -->
</div>