<!-- Reasons -->
<div class="row reason-row"  data-equalizer>
	<div class="column large-4" id="reason-pain" data-equalizer-watch>
		<!-- <img src="{{ theme:img src='less_pain_icon.png' }}" alt="Less Pain Icon"> -->
		<div class="reason-icon"></div>	
		<h2>Less pain</h2>
		<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ut enim sapiente sint labore eligendi eveniet aut veritatis alias reprehenderit, dolore quas aspernatur quam dolorem voluptate suscipit temporibus nulla delenitidolore quas aspernatur quam dolorem voluptate suscipit temporibus nulla deleniti.</p>
		<a href="#">learn more</a>
	</div>

	<div class="column large-4" id="reason-scarring" data-equalizer-watch>
		<!-- <img src="{{ theme:img src='less_scarring_icon.png' }}" alt="Less Scarring Image"> -->
		<div class="reason-icon"></div>											
		<h2>Less scarring</h2>
		<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla assumenda nisi odio perspiciatis soluta. Dolorum repellat nesciunt obcaecati numquam aspernatur ea fugiat perferendis? Repellat voluptas, animi optio cum assumenda neque!</p>
		<a href="#">learn more</a>
	</div>

	<div class="column large-4" id="reason-recovery" data-equalizer-watch>
		<!-- <img src="{{ theme:img src='quick_recovery_icon.png' }}" alt="Quick Recovery Icon"> -->
		<div class="reason-icon"></div>
		<h2>Quicker recovery</h2>
		<p class="text-justify">These paragraphs are different heights to demonstrate the fact that we can keep the height of this row equal regardless of the content of the three reason paragraphs.</p>
		<a href="#">learn more</a>
	</div>
</div>