<div class="column small-12 medium-3 sidebar">
	<div class="panel small-only-text-center" id="side-browse">
	  <h4>Keep Browsing</h4>
	  <p>Browse through all the articles from the Center for Minimally Invasive Surgery in Utah</p>
	  <a href="/more-info"><strong>Table of Contents&nbsp;&#9654;</strong></a>
	</div>
	<div class="panel callout small-only-text-center" id="side-learn">
	  <h3>Learn More</h3>
	  <p>Get a free information packet all about single site robotic surgery</p>
	  <a href="#" class="button foundation-button" data-reveal-id="info-download">Download Now</a>
	</div>
</div>